//Fuente de enlaces
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
//Fuente de "Nuestros Productos"
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');

//ESTILOS PARA CELULAR
@media screen and (min-width: 240px) {

    .body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 190px 1fr 150px;
        text-align: center;
    }
    
    
    .header {
        display: flex;
        background-color: rgb(26, 59, 26);
        grid-column: 1/2;
        grid-row: 1/2;
        flex-direction: column;
        
    
        &-logo {
            width: 100%;
            height: 100%;
            
            &__video {
                width: 100%;
                height: 100%;
            }
        }
    }

    li {
        
    }

    .cart {
        justify-content: flex-end;
        justify-items: flex-end;
        display: flex;
        

        &-logo {
            justify-content: left;
            align-items: flex-end;
            justify-items: flex-end;
            height: 60px;
            width: 60px;
        background-color: rgb(38, 85, 38);
        }
        &-container {
            width: 200px;
            height: 250px;

        }
    }

    

    .main {
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(254, 255, 222);


        &-title {
            font-family: 'Pacifico', cursive;
            font-size: 35px;
            display: inline-block;
            position: relative;
        }
    }
    //LINEAS DECORATIVAS DE TÍTULO
    .main-title::after,.main-title::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: currentColor; //se adapta al color del título
        top: 30px;
        transform: scale(0);
        transition: all 0.3s ease-in;
    }

    .main-title:hover::before,.main-title:hover::after{
        transform: scale(1);
    }

    .main-title::before{
        left: -140px;
    }
    .main-title::after{
        right: -140px;
    }

    //ENLACES SECCIONES DE LOS PRODUCTOS
    .enlaces-container {
        display: flex;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        

        &__productos {
            width: 250px;
            height: 250px;
            border-radius: 25px;
            transition: all 500ms ease-out;
            padding: 15px 0 15px 0;
        }

        &__title {
            position: absolute;
            visibility: hidden;
            transition: all 500ms ease-out;
            visibility: hidden;
            opacity: 0;
            background-color: rgba(122, 190, 122,0.5);
            width: 100%;
            height: 100%;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            display: flex;
            font-family: 'Dancing Script', cursive;
            font-size: 30px;
        }

    }
    //INCORPORA TEXTO A IMAGEN
    .enlaces-container:hover > .enlaces-container__title {
        opacity: 1;
      visibility: visible;
    }

    //Buttons (selected - deselected)
  .button-choosed {
    background-color: green;
    color: white;
    }

    .button-unchoosed {
      color: green;
      background-color: rgb(194, 243, 194);
    }



    .footer {
        background-color: rgb(26, 59, 26) ;
    }

}

