@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap");
.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 190px 1fr 150px;
      grid-template-rows: 190px 1fr 150px;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #578b6d;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-logo {
  width: 100%;
  height: 100%;
}

.header-logo__img {
  width: 200px;
  height: 190px;
}

.submenu {
  position: relative;
}

.submenu #img-carrito {
  width: 50px;
  height: 50px;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #feffde;
}

.main-title {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  display: inline-block;
  position: relative;
}

.main-title::after, .main-title::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 30px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main-title:hover::before, .main-title:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-title::before {
  left: -140px;
}

.main-title::after {
  right: -140px;
}

.productos {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row > * {
  width: 300px !important;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 400px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0 15px 0;
  overflow: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.card:hover {
  -webkit-box-shadow: 2px 3px 5px 2px #4e854e;
          box-shadow: 2px 3px 5px 2px #4e854e;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 35px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  padding-bottom: 15px;
}

.card-title {
  position: absolute;
  visibility: hidden;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(122, 190, 122, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.card-buy {
  width: 50px;
  height: 50px;
}

.enlaces-container:hover > .enlaces-container__title {
  opacity: 1;
  visibility: visible;
}

.footer {
  background-color: #578b6d;
}
/*# sourceMappingURL=styles.css.map */